In [22]:
import sklearn

import numpy as np
import pandas as pd

import datetime

In [23]:
print(sklearn.__version__)

0.21.3

In [24]:
print(pd.__version__)

0.25.3

In [25]:
print(np.__version__)

1.17.4

In [26]:
automobile_df = pd.read_csv('datasets/auto-mpg.csv')

In [27]:
automobile_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [28]:
automobile_df = automobile_df.replace('?',np.nan) #replace all missing values with Nan

In [29]:
automobile_df.isna().sum() #show total number of records that are missing values or are Nan

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [30]:
#filling the missiong values with the average
automobile_df['mpg'] = automobile_df['mpg'].fillna(automobile_df['mpg'].mean())
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [31]:
#or we can drop all the records with the missing records
print(automobile_df.shape)
automobile_df = automobile_df.dropna()
print(automobile_df.shape)
automobile_df.isna().sum()

(398, 9)
(392, 9)

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [33]:
#lets chech the null values alternative to Nan
automobile_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [38]:
automobile_df.drop(['model year'],axis=1, inplace=True)

KeyError: "['model year'] not found in axis"

In [39]:
automobile_df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,car name
80,22.0,4,122.0,86,2395,16.0,1,ford pinto (sw)
37,18.0,6,232.0,100,3288,15.5,1,amc matador
252,19.2,6,231.0,105,3535,19.2,1,pontiac phoenix lj
346,32.3,4,97.0,67,2065,17.8,3,subaru
378,38.0,4,105.0,63,2125,14.7,1,plymouth horizon miser

In [40]:
automobile_df.drop(['car name'],axis=1, inplace=True)

In [41]:
automobile_df.sample(5)

      mpg  cylinders  displacement horsepower  weight  acceleration  origin
364  26.6          8         350.0        105    3725          19.0       1
118  24.0          4         116.0         75    2158          15.5       2
14   24.0          4         113.0         95    2372          15.0       3
272  23.8          4         151.0         85    2855          17.6       1
0    18.0          8         307.0        130    3504          12.0       1