In [1]:
import sklearn

import numpy as np
import pandas as pd

import datetime

In [4]:
print(sklearn.__version__)

0.21.3

In [5]:
print(pd.__version__)

0.25.3

In [6]:
print(np.__version__)

1.17.4

In [8]:
automobile_df = pd.read_csv('datasets/auto-mpg.csv')

In [10]:
automobile_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [11]:
automobile_df = automobile_df.replace('?',np.nan) #replace all missing values with Nan

In [13]:
automobile_df.isna().sum() #show total number of records that are missing values or are Nan

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [15]:
#filling the missiong values with the average
automobile_df['mpg'] = automobile_df['mpg'].fillna(automobile_df['mpg'].mean())
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [17]:
#or we can drop all the records with the missing records
print(automobile.shape())
automobile_df = automobile_df.dropna()
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64